<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <title>Size Table</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A premium admin dashboard template by themesbrand" name="description" />
        <meta content="Mannatthemes" name="author" />

        <!-- App favicon -->
        <link rel="shortcut icon" href="/admin/images/favicon.ico">

        <link href="/admin/plugins/footable/css/footable.bootstrap.css" rel="stylesheet" type="text/css">

        <!-- App css -->
        <link href="/admin/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/admin/css/icons.css" rel="stylesheet" type="text/css" />
        <link href="/admin/css/metismenu.min.css" rel="stylesheet" type="text/css" />
        <link href="/admin/css/style.css" rel="stylesheet" type="text/css" />

    </head>

    <body>

        <!-- Top Bar Start -->
        <div th:replace="~{/admin/fragment::header_topbar}"></div>
        <!-- Top Bar End -->
        <div class="page-wrapper-img">
            <div class="page-wrapper-img-inner">
                <div th:replace="~{/admin/fragment::user}"></div>
                <!-- Page-Title -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-title-box">
                            <div class="float-right align-item-center mt-2">
                                <button class="btn btn-info px-4 align-self-center report-btn">Create Report</button>
                            </div>
                            <h4 class="page-title mb-2"><i class="mdi mdi-table mr-2"></i>Size Table</h4>
                            <div class="">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="javascript:void(0);">Admin</a></li>
                                    <li class="breadcrumb-item"><a href="javascript:void(0);">Tables</a></li>
                                    <li class="breadcrumb-item active">Size</li>
                                </ol>
                            </div>                                      
                        </div><!--end page title box-->
                    </div><!--end col-->
                </div><!--end row-->
                <!-- end page title end breadcrumb -->
            </div><!--end page-wrapper-img-inner-->
        </div><!--end page-wrapper-img-->
        
        <div class="page-wrapper">
            <div class="page-wrapper-inner">

                <!-- Left Sidenav -->
                <div th:replace="~{/admin/fragment::left_nav}"></div>
                <!-- end left-sidenav-->

                <!-- Page Content-->
                <div class="page-content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <table id="footable-3" class="table mb-0" data-paging="true" data-filtering="true" data-sorting="true">
                                            <thead>
                                                <tr>
                                                    <th data-name="id" data-breakpoints="xs" data-type="number">ID</th>
                                                    <th data-name="name">Name</th>
                                                    <th data-name="createdDate">Created Date</th>
                                                    <th>Is Active</th>
                                                    <th data-name="isActive" hidden></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr data-expanded="true" th:each="categoryResponse:${categoryResponseList}" th:object="${categoryResponse}">
                                                    <td th:text="*{id}"></td>
                                                    <td th:text="*{name}"></td>
                                                    <td th:text="*{createdDate}"></td>
                                                    <td>
                                                        <div class="checkbox checkbox-primary checkbox-single">
                                                            <input type="checkbox" id="singleCheckbox2" value="option2" th:checked="*{isActive}" aria-label="Single checkbox Two">
                                                            <label></label>
                                                        </div>
                                                    </td>
                                                    <td th:if="*{isActive}" hidden>true</td>
                                                    <td th:unless="*{isActive}" hidden>false</td>
                                                </tr>
                                            </tbody>
                                        </table><!--end table-->

                                        <!--Editor-->
                                        <div class="modal fade" id="editor-modal" tabindex="-1" role="dialog" aria-labelledby="editor-title">
                                        
                                            <div class="modal-dialog" role="document">
                                                <form class="modal-content form-horizontal" id="editor" th:object="${categoryRequest}" th:action="@{/admin/category/save}" th:method="post">
                                                    <div class="modal-header" >
                                                        <h5 class="modal-title" id="editor-title">Add Row</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>                                                            
                                                    </div>
                                                    <div class="modal-body">
                                                        <input type="text" id="id" th:field="*{id}" hidden>
                                                        <div class="form-group required row">
                                                            <label for="name" class="col-sm-3 control-label">Name</label>
                                                            <div class="col-sm-9">
                                                                <input type="text" class="form-control" id="name" name="name" placeholder="name" th:field="*{name}" required>
                                                            </div>
                                                        </div>
                                                        <input type="text" id="createdDate" th:field="*{createdDate}" hidden>
                                                        <input type="checkbox" id="isActive" th:field="*{isActive}" hidden>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-light">Save changes</button>
                                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div><!--end modal-->
                                    </div><!--end card-body-->
                                </div><!--end card-->
                            </div><!--end col-->
                        </div><!--end row-->

                    </div><!-- container -->

                    <footer th:replace="~{/admin/fragment::footer}"></footer>
                </div>
                <!-- end page content -->
            </div>
            <!--end page-wrapper-inner -->
        </div>
        <!-- end page-wrapper -->

        <!-- jQuery  -->
        <script src="/admin/js/jquery.min.js"></script>
        <script src="/admin/js/bootstrap.bundle.min.js"></script>
        <script src="/admin/js/metisMenu.min.js"></script>
        <script src="/admin/js/waves.min.js"></script>
        <script src="/admin/js/jquery.slimscroll.min.js"></script>

        <script src="/admin/plugins/footable/js/footable.js"></script>
        <script src="/admin/plugins/moment/moment.js"></script>
        <script src="/admin/pages/jquery.footable.category.init.js"></script>

        <!-- App js -->
        <script src="/admin/js/app.js"></script>

    </body>
</html>