<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/admin/fragment :: head(~{::title},~{::link})}">
    <title>Size Table</title>

    <!-- slick -->
    <link href="/admin/plugins/slick/slick.css" rel="stylesheet" type="text/css" />
    <link href="/admin/plugins/slick/slick-theme.css" rel="stylesheet" type="text/css" />

    <!-- File upload css -->
    <link href="/admin/plugins/dropify/css/dropify.min.css" rel="stylesheet">
    
    <!-- Clock css -->
    <link href="/admin/plugins/select2/select2.min.css" rel="stylesheet" type="text/css" />
</head>

<body>

<!-- Top Bar Start -->
<div th:replace="~{/admin/fragment::header_topbar}"></div>
<!-- Top Bar End -->
<div class="page-wrapper-img">
    <div class="page-wrapper-img-inner">
        <div th:replace="~{/admin/fragment::user}"></div>
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="float-right align-item-center mt-2">
                        <button class="btn btn-info px-4 align-self-center report-btn">Create Report</button>
                    </div>
                    <h4 class="page-title mb-2"><i class="mdi mdi-table mr-2"></i>Size Table</h4>
                    <div class="">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Admin</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Tables</a></li>
                            <li class="breadcrumb-item active">Size</li>
                        </ol>
                    </div>
                </div><!--end page title box-->
            </div><!--end col-->
        </div><!--end row-->
        <!-- end page title end breadcrumb -->
    </div><!--end page-wrapper-img-inner-->
</div><!--end page-wrapper-img-->

<div class="page-wrapper">
    <div class="page-wrapper-inner">

        <!-- Left Sidenav -->
        <div th:replace="~{/admin/fragment::left_nav}"></div>
        <!-- end left-sidenav-->

        <!-- Page Content-->
        <div class="page-content" >
            <div class="container-fluid" >
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Color & Size</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#profile" role="tab">Image</a>
                                    </li>
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <!--Table 1: Product detail -->
                                    <div class="tab-pane active p-3" id="home" role="tabpanel">
                                        <table id="footable-3" class="table mb-0" data-paging="true" data-filtering="true"
                                               data-sorting="true" style="display: table;width: 100%;table-layout: fixed;">
                                            <thead>
                                            <tr>
                                                <th data-name="id" data-breakpoints="xs" data-type="number">ID</th>
                                                <th data-name="color">Color</th>
                                                <th data-name="size">Size</th>
                                                <th data-name="stock">Stock</th>
                                                <th data-name="isActive">Is Active</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr data-expanded="true" th:each="productDetailResponse:${productDetailResponseSet}"
                                                th:object="${productDetailResponse}">
                                                <td th:text="*{id}"></td>
                                                <td th:text="*{colorResponse.name}"></td>
                                                <td th:text="*{sizeResponse.name}"></td>
                                                <td th:text="*{stock}"></td>
                                                <td>
                                                    <div class="checkbox checkbox-primary checkbox-single">
                                                        <input type="checkbox" value="option2"
                                                               th:checked="*{isActive}" aria-label="Single checkbox Two">
                                                        <label></label>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table><!--end table-->
                                    </div>

                                    <!--Table 2: Product Image-->
                                    <div class="tab-pane p-3" id="profile" role="tabpanel">
                                        <table id="footable-3-2" class="table mb-0" data-paging="true" data-filtering="true"
                                               data-sorting="true" style="display: table;width: 100%;table-layout: fixed;">
                                            <thead>
                                            <tr>
                                                <th data-name="id" data-breakpoints="xs" data-type="number">ID</th>
                                                <th data-name="color">Color</th>
                                                <th data-name="image">Image</th>
                                                <th data-name="isActive">Is Active</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr data-expanded="true" th:each="productImageResponse:${productImageResponseSet}"
                                                th:object="${productImageResponse}">
                                                <td th:text="*{id}"></td>
                                                <td th:text="*{colorResponse.name}"></td>
                                                <td>
                                                    <img class="d-block img-fluid" th:src="@{*{'/file/download/'+ name}}" alt="First slide">
                                                </td>
                                                <td>
                                                    <div class="checkbox checkbox-primary checkbox-single">
                                                        <input type="checkbox" id="singleCheckbox2-2" value="option2"
                                                               th:checked="*{isActive}" aria-label="Single checkbox Two">
                                                        <label></label>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table><!--end table-->
                                    </div>
                                </div>


                                <!--Modal 1: Product detail-->
                                <div class="modal fade" id="editor-modal" tabindex="-1" role="dialog" data-focus="false"
                                     aria-labelledby="editor-title">

                                    <div class="modal-dialog" role="document">
                                        <form class="modal-content form-horizontal" id="editor"
                                              enctype="multipart/form-data">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="editor-title">Add Row</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close"><span aria-hidden="true">×</span></button>
                                            </div>
                                            <div class="modal-body">
                                                <input type="text" id="id" hidden>
                                                <input type="text" id="product" th:value="${productId}" hidden>
                                                <div class="form-group row">
                                                    <label for="color" class="col-sm-2 col-form-label text-right">Size</label>
                                                    <div class="col-sm-10">
                                                        <select id="color" class="select2 form-control mb-3 custom-select" style="width: 100%; height:36px;">
                                                            <option>Select</option>
                                                            <th:block th:each="colorResponse : ${colorResponseSet}">
                                                                <option th:value="${colorResponse.id}" th:text="${colorResponse.name}"></option>
                                                            </th:block>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="size" class="col-sm-2 col-form-label text-right">Size</label>
                                                    <div class="col-sm-10">
                                                        <select id="size" class="select2 form-control mb-3 custom-select" style="width: 100%; height:36px;">
                                                            <option>Select</option>
                                                            <th:block th:each="sizeResponse : ${sizeResponseSet}">
                                                                <option th:value="${sizeResponse.id}" th:text="${sizeResponse.name}"></option>
                                                            </th:block>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="stock" class="col-sm-2 col-form-label text-right">Stock</label>
                                                    <div class="col-sm-10">
                                                        <input class="form-control" type="number"
                                                               placeholder="stock" id="stock">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-light">Save changes</button>
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">
                                                    Cancel
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div><!--end modal-->

                                <!--Modal 2: Product Image-->
                                <div class="modal fade" id="editor-modal-2" tabindex="-1" role="dialog" data-focus="false"
                                     aria-labelledby="editor-title">

                                    <div class="modal-dialog" role="document">
                                        <form class="modal-content form-horizontal" id="editor-2"
                                              enctype="multipart/form-data">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="editor-title-2">Add Row</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close"><span aria-hidden="true">×</span></button>
                                            </div>
                                            <div class="modal-body">
                                                <input type="text" id="id-2" hidden>
                                                <input type="text" id="product-2" th:value="${productId}" hidden>
                                                <div class="form-group row">
                                                    <label for="color-2" class="col-sm-2 col-form-label text-right">Size</label>
                                                    <div class="col-sm-10">
                                                        <select id="color-2" class="select2 form-control mb-3 custom-select" style="width: 100%; height:36px;" required>
                                                            <option>Select</option>
                                                            <th:block th:each="colorResponse : ${colorResponseSetByProductId}">
                                                                <option th:value="${colorResponse.id}" th:text="${colorResponse.name}"></option>
                                                            </th:block>
                                                        </select>
                                                    </div>
                                                </div>
                                                <input type="file" id="image" class="dropify" required/>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-light">Save changes</button>
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">
                                                    Cancel
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div><!--end modal-->

                            </div><!--end card-body-->
                        </div><!--end card-->
                    </div><!--end col-->
                </div><!--end row-->

            </div><!-- container -->

            <footer th:replace="~{/admin/fragment::footer}"></footer>
        </div>
        <!-- end page content -->
    </div>
    <!--end page-wrapper-inner -->
</div>
<!-- end page-wrapper -->

<th:block th:replace="~{/admin/fragment :: script(~{::script})}">
    <script src="/admin/pages/jquery.footable.productDetail.init.js"></script>

    <!-- slick -->
    <script src="/admin/plugins/slick/slick.min.js"></script>
    <script src="/admin/pages/jquery.slick.init.js"></script>

    <!-- File upload script -->
    <script src="/admin/plugins/dropify/js/dropify.min.js"></script>
    <script src="/admin/pages/jquery.form-upload.init.js"></script>

    <!-- select input script -->
    <script src="/admin/plugins/select2/select2.min.js"></script>
    <script src="/admin/pages/jquery.forms-advanced.js"></script>
</th:block>

</body>
</html>