<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Document Title -->
    <title>Ecommerce</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="favicon.png">

    <!-- CSS Files -->
    <!--==== Google Fonts ====-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900%7CRoboto+Condensed:300,400,700"
          rel="stylesheet">

    <!--==== Bootstrap css file ====-->
    <link rel="stylesheet" href="/client/assets/css/bootstrap.min.css">

    <!--==== Font-Awesome css file ====-->
    <link rel="stylesheet" href="/client/assets/css/font-awesome.min.css">

    <!-- Owl Carusel css file -->
    <link rel="stylesheet" href="/client/assets/plugins/owl-carousel/owl.carousel.min.css">

    <!-- Magnific-Popup css file -->
    <link rel="stylesheet" href="/client/assets/plugins/Magnific-Popup/magnific-popup.css">

    <!-- animate css file -->
    <link rel="stylesheet" href="/client/assets/plugins/animate-css/animate.min.css">

    <!-- swiper -->
    <link rel="stylesheet" href="/client/assets/plugins/swiper/swiper.min.css">

    <!--==== Style css file ====-->
    <link rel="stylesheet" href="/client/assets/css/style.css">

    <!--==== Responsive css file ====-->
    <link rel="stylesheet" href="/client/assets/css/responsive.css">

    <!--==== Custom css file ====-->
    <link rel="stylesheet" href="/client/assets/css/custom.css">
</head>

<body>
<!-- preloader -->
<div th:replace="/home/fragment :: preloader"></div>
<!-- main header -->
<header th:replace="/home/fragment :: main_header(contact='active')"></header>
<!-- category menu -->
<div th:replace="/home/fragment :: category_menu" )></div>
<!-- offcanvas menu -->
<th:block th:replace="/home/fragment :: offcanvas_overlay_mainmenu"></th:block>
<div th:replace="/home/fragment :: offcanvas_wishlist" )></div>
<div th:replace="/home/fragment :: offcanvas_cartlist" )></div>
<div th:replace="/home/fragment :: offcanvas_login_register" )></div>
<!-- page title -->
<section th:replace="/home/fragment :: page_title(title=~{::h1},text1='home',text2='Contact')">
    <h1 class="h2">WE Are Everywhere<span>Contact</span></h1>
</section>

<!-- office location -->
<section class="pt-100 pb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-7 col-lg-8">
                <!-- office info -->
                <div class="office-ifno-inner">
                    <h3>We Are here To help You Better</h3>
                    <p>Alteration literature to or an sympathize mr imprudence. Of is ferrars subject as enjoyed or tedi
                        ous cottage. rocuring as in resembled by in agreeable. Next long no gave mr eyes. Admiration
                        advant ages no he celebrated so pianoforte as in resembled unreserved.</p>
                </div>
                <!--End of office info -->

                <!-- office address -->
                <div class="office-addess-inner">
                    <div class="row">
                        <div class="col-md-6">
                            <!-- single address -->
                            <div class="single-address">
                                <h4>Head Quarter</h4>
                                <ul class="list-unstyled mb-0">
                                    <li>3100 West Cary Street,</li>
                                    <li>PO Box 16122 Collins Street West</li>
                                    <li>Victoria 8007 Australia</li>
                                </ul>
                            </div>
                            <!-- End of single address -->
                        </div>
                        <div class="col-md-6">
                            <!-- single address -->
                            <div class="single-address">
                                <h4>Working Hour</h4>
                                <ul class="list-unstyled mb-0">
                                    <li>Monday-Saturday 11am-7pm</li>
                                    <li>Sunday 11am-6pm</li>
                                    <li>Friday (OFF Day)</li>
                                </ul>
                            </div>
                            <!-- End of single address -->
                        </div>
                        <div class="col-md-6">
                            <!-- single address -->
                            <div class="single-address">
                                <h4>Office 01</h4>
                                <ul class="list-unstyled mb-0">
                                    <li>PO Box 16122 Collins Street West</li>
                                    <li>Victoria 8007 Australia</li>
                                </ul>
                            </div>
                            <!-- End of single address -->
                        </div>
                        <div class="col-md-6">
                            <!-- single address -->
                            <div class="single-address">
                                <h4>Office 02</h4>
                                <ul class="list-unstyled mb-0">
                                    <li>PO Box 16122 Collins Street West</li>
                                    <li>Victoria 8007 Australia</li>
                                </ul>
                            </div>
                            <!-- End of single address -->
                        </div>
                    </div>
                </div>
                <!-- End of office address -->
            </div>

            <div class="col-md-5 col-lg-4">
                <!-- google map -->
                <div class="google-map-wrapper" data-latitude='40.7656561' data-longitude='-73.7691858' data-zoom='11'
                     data-marker='/client/assets/img/mapmarker.png'>
                    <div id="map"></div>
                </div>
                <!-- End of google map -->
            </div>
        </div>
    </div>
</section>
<!-- End of office location -->

<!-- get in touch -->
<section class="pb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-5 col-lg-4">
                <!-- office image -->
                <div class="getin-touch-image">
                    <img src="/client/assets/img/featuerd/office-info.png" data-rjs='2' alt="">
                </div>
                <!-- End of office image -->
            </div>
            <div class="col-md-7 col-lg-8">
                <!--office address form -->
                <div class="office-address-form">
                    <!-- office-address-head -->
                    <div class="office-address-head">
                        <h3>Get In Touch</h3>
                        <p>Alteration literature to or an sympathize mr imprudence. Of is ferrars subject as enjoyed or
                            tedi ous cottage. rocuring as in resembled by in agreeable. Next long no gave mr eyes.
                            Admiration advant ages no he celebrated so pianoforte as in resembled unreserved.</p>
                    </div>
                    <!-- End of office-address-head -->
                    <div class="address-form-inner contact-page-form parsley-validate">
                        <form action="sendmail.php" method="POST" novalidate>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-form-group">
                                        <label>
                                            <img src="/client/assets/img/icons/account-icon.svg" class="svg" alt="">
                                        </label>
                                        <input type="text" name="name" placeholder="Your name" class="theme-input-style"
                                               required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-form-group">
                                        <label>
                                            <img src="/client/assets/img/icons/email-icon.svg" class="svg" alt="">
                                        </label>
                                        <input type="email" name="email" placeholder="Email" class="theme-input-style"
                                               required>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="input-form-group">
                                        <label>
                                            <img src="/client/assets/img/icons/subject.svg" class="svg" alt="">
                                        </label>
                                        <input type="text" name="subject" placeholder="Subject"
                                               class="theme-input-style">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="input-form-group">
                                        <label class="text-area">
                                            <img src="/client/assets/img/icons/message.svg" class="svg" alt="">
                                        </label>
                                        <textarea name="message" class="theme-input-style"
                                                  placeholder="Message"></textarea>
                                    </div>
                                    <button class="btn btn-fill-type mb-30">Send</button>

                                    <div class="form-response"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!--End of office address form -->
            </div>
        </div>
    </div>
</section>
<!-- End of get in touch -->

<!-- Our social area-->
<section class="pb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-5">
                <!-- we area social -->
                <div class="we-are-social">
                    <h3>We Are Social</h3>
                    <p>Alteration literature to or an sympathize mr<br> imprudence is ferrars subject.</p>

                    <div class="footer-social-area">
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End of we area social -->
            </div>
            <div class="col-md-7">
                <div class="insta-feed-inner">
                    <div class="insta-feed-carousel2 owl-carousel" data-owl-margin='9' data-owl-items="4"
                         data-owl-responsive='{"0": {"items": "2"},"768": {"items": "3"},"1170": {"items": "4"}}'
                         data-owl-speed="3000" data-owl-dots='false' data-owl-autoplay='false'>
                        <!-- single carousel inner -->
                        <div class="single-carousel-inner">
                            <a href="#">
                                <img src="/client/assets/img/social/insta1.jpg" alt="">
                                <div class="figurecaption">
                                    <span><i class="fa fa-comment"></i>24</span>
                                    <span><i class="fa fa-heart"></i>24</span>
                                </div>
                            </a>
                        </div>
                        <!-- End of single carousel inner -->
                        <!-- single carousel inner -->
                        <div class="single-carousel-inner">
                            <a href="#">
                                <img src="/client/assets/img/social/insta2.jpg" alt="">
                                <div class="figurecaption">
                                    <span><i class="fa fa-comment"></i>24</span>
                                    <span><i class="fa fa-heart"></i>24</span>
                                </div>
                            </a>
                        </div>
                        <!-- End of single carousel inner -->
                        <!-- single carousel inner -->
                        <div class="single-carousel-inner">
                            <a href="#">
                                <img src="/client/assets/img/social/insta3.jpg" alt="">
                                <div class="figurecaption">
                                    <span><i class="fa fa-comment"></i>24</span>
                                    <span><i class="fa fa-heart"></i>24</span>
                                </div>
                            </a>
                        </div>
                        <!-- End of single carousel inner -->
                        <!-- single carousel inner -->
                        <div class="single-carousel-inner">
                            <a href="#">
                                <img src="/client/assets/img/social/insta4.jpg" alt="">
                                <div class="figurecaption">
                                    <span><i class="fa fa-comment"></i>24</span>
                                    <span><i class="fa fa-heart"></i>24</span>
                                </div>
                            </a>
                        </div>
                        <!-- End of single carousel inner -->
                        <!-- single carousel inner -->
                        <div class="single-carousel-inner">
                            <a href="#">
                                <img src="/client/assets/img/social/insta5.jpg" alt="">
                                <div class="figurecaption">
                                    <span><i class="fa fa-comment"></i>24</span>
                                    <span><i class="fa fa-heart"></i>24</span>
                                </div>
                            </a>
                        </div>
                        <!-- End of single carousel inner -->
                        <!-- single carousel inner -->
                        <div class="single-carousel-inner">
                            <a href="#">
                                <img src="/client/assets/img/social/insta6.jpg" alt="">
                                <div class="figurecaption">
                                    <span><i class="fa fa-comment"></i>24</span>
                                    <span><i class="fa fa-heart"></i>24</span>
                                </div>
                            </a>
                        </div>
                        <!-- End of single carousel inner -->
                        <!-- single carousel inner -->
                        <div class="single-carousel-inner">
                            <a href="#">
                                <img src="/client/assets/img/social/insta7.jpg" alt="">
                                <div class="figurecaption">
                                    <span><i class="fa fa-comment"></i>24</span>
                                    <span><i class="fa fa-heart"></i>24</span>
                                </div>
                            </a>
                        </div>
                        <!-- End of single carousel inner -->
                        <!-- single carousel inner -->
                        <div class="single-carousel-inner">
                            <a href="#">
                                <img src="/client/assets/img/social/insta8.jpg" alt="">
                                <div class="figurecaption">
                                    <span><i class="fa fa-comment"></i>24</span>
                                    <span><i class="fa fa-heart"></i>24</span>
                                </div>
                            </a>
                        </div>
                        <!-- End of single carousel inner -->
                        <!-- single carousel inner -->
                        <div class="single-carousel-inner">
                            <a href="#">
                                <img src="/client/assets/img/social/insta9.jpg" alt="">
                                <div class="figurecaption">
                                    <span><i class="fa fa-comment"></i>24</span>
                                    <span><i class="fa fa-heart"></i>24</span>
                                </div>
                            </a>
                        </div>
                        <!-- End of single carousel inner -->
                        <!-- single carousel inner -->
                        <div class="single-carousel-inner">
                            <a href="#">
                                <img src="/client/assets/img/social/insta10.jpg" alt="">
                                <div class="figurecaption">
                                    <span><i class="fa fa-comment"></i>24</span>
                                    <span><i class="fa fa-heart"></i>24</span>
                                </div>
                            </a>
                        </div>
                        <!-- End of single carousel inner -->
                        <!-- single carousel inner -->
                        <div class="single-carousel-inner">
                            <a href="#">
                                <img src="/client/assets/img/social/insta11.jpg" alt="">
                                <div class="figurecaption">
                                    <span><i class="fa fa-comment"></i>24</span>
                                    <span><i class="fa fa-heart"></i>24</span>
                                </div>
                            </a>
                        </div>
                        <!-- End of single carousel inner -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Our social area-->

<!-- footer area -->
<footer th:replace="/home/fragment :: footer"></footer>
<!-- back to top -->
<div th:replace="/home/fragment :: back_to_top"></div>
<!-- Modal quick view-->
<div th:replace="/home/fragment :: modal_quick_view"></div>
<!-- add to cart notifacition 1-->
<div th:replace="/home/fragment :: add_to_cart_noti_1"></div>
<!-- add to cart notifacition 2-->
<div th:replace="/home/fragment :: add_to_cart_noti_2"></div>

<!-- JS Files -->
<!-- ==== JQuery 3.3.1 js file==== -->
<script src="/client/assets/js/jquery-3.3.1.min.js"></script>

<!-- ==== Bootstrap js file==== -->
<script src="/client/assets/js/bootstrap.bundle.min.js"></script>

<!-- ==== JQuery Waypoint js file==== -->
<script src="/client/assets/plugins/waypoints/jquery.waypoints.min.js"></script>

<!-- ==== Parsley js file==== -->
<script src="/client/assets/plugins/parsley/parsley.min.js"></script>

<!-- ==== Ratina js file==== -->
<script src="/client/assets/plugins/retinajs/retina.min.js"></script>

<!--===parallax js file===-->
<script src="/client/assets/plugins/parallax/parallax.js"></script>

<!--=== hori parallax js file===-->
<script src="/client/assets/plugins/parallax/parallaxh.min.js"></script>

<!-- ==== Owl Carousel js file==== -->
<script src="/client/assets/plugins/owl-carousel/owl.carousel.min.js"></script>

<!-- ====Magnific-Popup js file==== -->
<script src="/client/assets/plugins/Magnific-Popup/jquery.magnific-popup.min.js"></script>

<!-- ====Counter js file=== -->
<script src="/client/assets/plugins/waypoints/jquery.counterup.min.js"></script>

<!-- ====packery==== -->
<script src="/client/assets/plugins/isotope/packery.pkgd.min.js"></script>

<!-- ====swiper==== -->
<script src="/client/assets/plugins/swiper/swiper.min.js"></script>

<!-- ====Count down js==== -->
<script src="/client/assets/plugins/countdown/jquery.countdown.min.js"></script>

<!-- ====zoom js==== -->
<script src="/client/assets/plugins/Magnific-Popup/jquery.elevateZoom-3.0.8.min.js"></script>

<!-- ====tweenMax==== -->
<script src="/client/assets/plugins/tweenmax/TweenMax.min.js"></script>

<!-- ====text animation==== -->
<script src="/client/assets/plugins/text-animation/anime.min.js"></script>

<!-- ====google map api key====-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2D8wrWMY3XZnuHO6C31uq90JiuaFzGws"></script>

<!-- ==== Script js file==== -->
<script src="/client/assets/js/scripts.js"></script>

<!-- ==== Custom js file==== -->
<script src="/client/assets/js/custom.js"></script>

</body>
</html>