<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Document Title -->
    <title>Ecommerce</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="favicon.png">

    <!-- CSS Files -->
    <!--==== Google Fonts ====-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900%7CRoboto+Condensed:300,400,700"
          rel="stylesheet">

    <!--==== Bootstrap css file ====-->
    <link rel="stylesheet" href="/client/assets/css/bootstrap.min.css">

    <!--==== Font-Awesome css file ====-->
    <link rel="stylesheet" href="/client/assets/css/font-awesome.min.css">

    <!-- Owl Carusel css file -->
    <link rel="stylesheet" href="/client/assets/plugins/owl-carousel/owl.carousel.min.css">

    <!-- Magnific-Popup css file -->
    <link rel="stylesheet" href="/client/assets/plugins/Magnific-Popup/magnific-popup.css">

    <!-- animate css file -->
    <link rel="stylesheet" href="/client/assets/plugins/animate-css/animate.min.css">

    <!-- swiper -->
    <link rel="stylesheet" href="/client/assets/plugins/swiper/swiper.min.css">

    <!--==== Style css file ====-->
    <link rel="stylesheet" href="/client/assets/css/style.css">

    <!--==== Responsive css file ====-->
    <link rel="stylesheet" href="/client/assets/css/responsive.css">

    <!--==== Custom css file ====-->
    <link rel="stylesheet" href="/client/assets/css/custom.css">
</head>

<body>
<!-- Preloader -->
<div th:replace="/home/fragment :: preloader"></div>
<!-- main header -->
<header th:replace="/home/fragment :: main_header(faq='active')"></header>
<!-- Catagory menu -->
<div th:replace="/home/fragment :: category_menu" )></div>
<!-- offcanvas menu-->
<th:block th:replace="/home/fragment :: offcanvas_overlay_mainmenu"></th:block>
<div th:replace="/home/fragment :: offcanvas_wishlist" )></div>
<div th:replace="/home/fragment :: offcanvas_cartlist" )></div>
<div th:replace="/home/fragment :: offcanvas_login_register" )></div>
<!-- page title -->
<section th:replace="/home/fragment :: page_title(title=~{::h1},text1='home',text2='FAQ')">
    <h1 class="h2">questions<span>FAQ</span></h1>
</section>

<!-- product details wrapper -->
<section class="pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <!-- faq inner area -->
                <div class="faq-content-wrap type2">
                    <ul class="faq-list mb-0 list-unstyled">
                        <li>
                                    <span class="roboto">
                                        01
                                    </span>
                            <h5 class="lato">As am hastily invited settled at limited civilly fortune me. Really spring
                                in extent an by. Judge but built gay party world.</h5>
                            <p>Talent she for lively eat led sister. Entrance strongly packages she out rendered get
                                quitting denoting led. Dwelling confined improved it he no doubtful raptures. Several
                                carried through an of up attempt gravity. Situation to be at offending elsewhere
                                distrusts if.</p>
                        </li>
                        <li>
                                    <span class="roboto">
                                        02
                                    </span>
                            <h5 class="lato">As am hastily invited settled at limited civilly fortune me really spring
                                in extent?</h5>
                            <p>Talent she for lively eat led sister. Entrance strongly packages she out rendered get
                                quitting denoting led. Dwelling confined improved raptures.</p>
                        </li>
                        <li>
                                    <span class="roboto">
                                        03
                                    </span>
                            <h5 class="lato">Do believing oh disposing to supported allowance we?</h5>
                            <p>Talent she for lively eat led sister. Entrance strongly packages she out rendered get
                                quitting denoting led. Dwelling confined improved it he no doubtful raptures. Several
                                carried through an of up attempt gravity. Situation to be at offending elsewhere
                                distrusts if.</p>
                        </li>
                        <li>
                                    <span class="roboto">
                                        04
                                    </span>
                            <h5 class="lato">Among state cease how and sight since shall disposing to supported
                                allowance?</h5>
                            <p>Talent she for lively eat led sister. Entrance strongly packages she out rendered get
                                quitting denoting led. Dwelling confined improved it he no doubtful raptures. Several
                                carried through an of up attempt gravity. Situation to be at offending elsewhere
                                distrusts if.</p>
                        </li>
                    </ul>
                </div>
                <!-- End of faq inner area -->
            </div>
            <div class="col-lg-3">
                <aside>
                    <!--Single sidebar widget -->
                    <div class="single-sidebar-widget mb-60">
                        <!-- widget title -->
                        <div class="widget-title">
                            <h4>New Product</h4>
                        </div>
                        <!--End of widget title -->
                        <div class="new-product-item">
                            <ul class="list-unstyled mb-0">
                                <!-- single new product -->
                                <li>
                                    <div class="new-product-wrap media">
                                        <div class="new-produt-image">
                                            <img src="/client/assets/img/shop/img1.png" alt="">
                                        </div>
                                        <div class="product-img-caption media-body">
                                            <h5><a href="#">Girls' Zipper Jumpsuit</a></h5>
                                            <h6>$32</h6>
                                        </div>
                                    </div>
                                </li>
                                <!--End of single new product -->

                                <!-- single new product -->
                                <li>
                                    <div class="new-product-wrap media">
                                        <div class="new-produt-image">
                                            <img src="/client/assets/img/shop/img2.png" alt="">
                                        </div>
                                        <div class="product-img-caption media-body">
                                            <h5><a href="#">Pokemon Kid's Wrist Watch</a></h5>
                                            <h6>$42</h6>
                                        </div>
                                    </div>
                                </li>
                                <!--End of single new product -->

                                <!-- single new product -->
                                <li>
                                    <div class="new-product-wrap media">
                                        <div class="new-produt-image">
                                            <img src="/client/assets/img/shop/img3.png" alt="">
                                        </div>
                                        <div class="product-img-caption media-body">
                                            <h5><a href="#">Stick Lamp Essentials</a></h5>
                                            <h6>$22</h6>
                                        </div>
                                    </div>
                                </li>
                                <!--End of single new product -->
                            </ul>
                        </div>
                    </div>
                    <!--End of Single sidebar widget -->

                    <!--Single sidebar widget -->
                    <div class="single-sidebar-widget mb-60">
                        <!-- widget title -->
                        <div class="widget-title">
                            <h4>Recent Review</h4>
                        </div>
                        <!--End of widget title -->
                        <div class="new-product-item">
                            <ul class="list-unstyled mb-0">
                                <!-- single recent product -->
                                <li>
                                    <div class="recent-product-wrap media">
                                        <div class="recent-produt-image">
                                            <img src="/client/assets/img/shop/img4.png" alt="">
                                        </div>
                                        <div class="product-img-caption media-body">
                                            <h5><a href="#">Leather Mini Backpack</a></h5>
                                            <h6>$32</h6>
                                        </div>
                                    </div>
                                </li>
                                <!--End of single recent product -->

                                <!-- single recent product -->
                                <li>
                                    <div class="recent-product-wrap media">
                                        <div class="recent-produt-image">
                                            <img src="/client/assets/img/shop/img5.png" alt="">
                                        </div>
                                        <div class="product-img-caption media-body">
                                            <h5><a href="#">Double Zip Pouch Clutch</a></h5>
                                            <h6>$42</h6>
                                        </div>
                                    </div>
                                </li>
                                <!--End of single recent product -->

                                <!-- single recent product -->
                                <li>
                                    <div class="recent-product-wrap media">
                                        <div class="recent-produt-image">
                                            <img src="/client/assets/img/shop/img6.png" alt="">
                                        </div>
                                        <div class="product-img-caption media-body">
                                            <h5><a href="#">Copley Dining Chair</a></h5>
                                            <h6>$22</h6>
                                        </div>
                                    </div>
                                </li>
                                <!--End of single recent product -->
                            </ul>
                        </div>
                    </div>
                    <!--End of Single sidebar widget -->

                    <!--Single sidebar widget -->
                    <div class="single-sidebar-widget mb-60">
                        <div class="sider-add-inner shope-add-sidebar"
                             data-bg-img='/client/assets/img/shop/shop-add.png'>
                            <div class="sidebar-add-text">
                                <h2 class="h1">75</h2>
                                <h3>% off</h3>
                                <p>For Gents Wear</p>
                                <a href="#" class="btn btn-line"> Shop Now</a>
                            </div>
                        </div>
                    </div>
                    <!--End of Single sidebar widget -->
                </aside>
            </div>
        </div>
    </div>
</section>
<!-- End of product details wrapper -->

<!-- footer area -->
<footer th:replace="/home/fragment :: footer"></footer>
<!-- back to top -->
<div th:replace="/home/fragment :: back_to_top"></div>
<!-- Modal quick view-->
<div th:replace="/home/fragment :: modal_quick_view"></div>
<!-- add to cart notifacition 1-->
<div th:replace="/home/fragment :: add_to_cart_noti_1"></div>
<!-- add to cart notifacition 2-->
<div th:replace="/home/fragment :: add_to_cart_noti_2"></div>

<!-- JS Files -->
<!-- ==== JQuery 3.3.1 js file==== -->
<script src="/client/assets/js/jquery-3.3.1.min.js"></script>

<!-- ==== Bootstrap js file==== -->
<script src="/client/assets/js/bootstrap.bundle.min.js"></script>

<!-- ==== JQuery Waypoint js file==== -->
<script src="/client/assets/plugins/waypoints/jquery.waypoints.min.js"></script>

<!-- ==== Parsley js file==== -->
<script src="/client/assets/plugins/parsley/parsley.min.js"></script>

<!-- ==== Ratina js file==== -->
<script src="/client/assets/plugins/retinajs/retina.min.js"></script>

<!--===parallax js file===-->
<script src="/client/assets/plugins/parallax/parallax.js"></script>

<!--=== hori parallax js file===-->
<script src="/client/assets/plugins/parallax/parallaxh.min.js"></script>

<!-- ==== Owl Carousel js file==== -->
<script src="/client/assets/plugins/owl-carousel/owl.carousel.min.js"></script>

<!-- ====Magnific-Popup js file==== -->
<script src="/client/assets/plugins/Magnific-Popup/jquery.magnific-popup.min.js"></script>

<!-- ====Counter js file=== -->
<script src="/client/assets/plugins/waypoints/jquery.counterup.min.js"></script>

<!-- ====packery==== -->
<script src="/client/assets/plugins/isotope/packery.pkgd.min.js"></script>

<!-- ====swiper==== -->
<script src="/client/assets/plugins/swiper/swiper.min.js"></script>

<!-- ====Count down js==== -->
<script src="/client/assets/plugins/countdown/jquery.countdown.min.js"></script>

<!-- ====zoom js==== -->
<script src="/client/assets/plugins/Magnific-Popup/jquery.elevateZoom-3.0.8.min.js"></script>

<!-- ====tweenMax==== -->
<script src="/client/assets/plugins/tweenmax/TweenMax.min.js"></script>

<!-- ====text animation==== -->
<script src="/client/assets/plugins/text-animation/anime.min.js"></script>

<!-- ====google map api key====-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2D8wrWMY3XZnuHO6C31uq90JiuaFzGws"></script>

<!-- ==== Script js file==== -->
<script src="/client/assets/js/scripts.js"></script>

<!-- ==== Custom js file==== -->
<script src="/client/assets/js/custom.js"></script>

</body>
</html>