<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Document Title -->
    <title>Ecommerce</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="favicon.png">

    <!-- CSS Files -->
    <!--==== Google Fonts ====-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900%7CRoboto+Condensed:300,400,700"
          rel="stylesheet">

    <!--==== Bootstrap css file ====-->
    <link rel="stylesheet" href="/client/assets/css/bootstrap.min.css">

    <!--==== Font-Awesome css file ====-->
    <link rel="stylesheet" href="/client/assets/css/font-awesome.min.css">

    <!-- Owl Carusel css file -->
    <link rel="stylesheet" href="/client/assets/plugins/owl-carousel/owl.carousel.min.css">

    <!-- Magnific-Popup css file -->
    <link rel="stylesheet" href="/client/assets/plugins/Magnific-Popup/magnific-popup.css">

    <!-- animate css file -->
    <link rel="stylesheet" href="/client/assets/plugins/animate-css/animate.min.css">

    <!-- swiper -->
    <link rel="stylesheet" href="/client/assets/plugins/swiper/swiper.min.css">

    <!--==== Style css file ====-->
    <link rel="stylesheet" href="/client/assets/css/style.css">

    <!--==== Responsive css file ====-->
    <link rel="stylesheet" href="/client/assets/css/responsive.css">

    <!--==== Custom css file ====-->
    <link rel="stylesheet" href="/client/assets/css/custom.css">
</head>

<body>
<!-- preloader -->
<div th:replace="/home/fragment :: preloader"></div>
<!-- main header -->
<header th:replace="/home/fragment :: main_header(shop='active')"></header>
<!-- category menu -->
<div th:replace="/home/fragment :: category_menu" )></div>
<!-- offcanvas menu-->
<th:block th:replace="/home/fragment :: offcanvas_overlay_mainmenu"></th:block>
<div th:replace="/home/fragment :: offcanvas_wishlist" )></div>
<div th:replace="/home/fragment :: offcanvas_cartlist" )></div>
<div th:replace="/home/fragment :: offcanvas_login_register" )></div>
<!-- filter menu -->
<div class="offcanvas offcanvas-filter">
    <div class="offcanvas-cancel">
        <img src="/client/assets/img/icons/close-button.svg" class="svg" alt="">
    </div>
</div>
<!-- page title -->
<section th:replace="/home/fragment :: page_title(title=~{::h1},text1='home',text2='Shop')">
    <h1 class="h2">Shop Page<span>Shopping</span></h1>
</section>

<!-- product shop wrapper -->
<section class="pt-100 pb-40">
    <div class="container">
        <div class="row position-relative">
            <div class="col-lg-9 position-static">
                <!-- shop toolbar wrap -->
                <div class="shop-toolbar-wrap">
                    <div class="shop-toolbar-filter">
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <!-- product found -->
                                <div class="product-found product-count">
                                    <span>Showing 1–12 of 40 results</span>
                                </div>
                                <!-- End of product found -->
                            </div>
                            <div class="col-md-6 position-static">
                                <!-- product filter inner -->
                                <div class="product-filter-inner">
                                    <!-- product filter -->
                                    <div class="product-filter catalog-filter">
                                        <div class="product-filter-mobile">
                                            <a href="#" class="d-lg-none d-block"><i class="fa fa-sliders"></i></a>
                                        </div>
                                        <a href="#" class="d-none d-lg-block product-filter-btn"><i
                                                class="fa fa-filter"></i><span>Filter</span><i
                                                class="fa fa-angle-down"></i></a>

                                        <!-- product filter menu -->
                                        <div class="product-filter-menu">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="woocommerce-products-header">
                                                        <div class="shope-filter-item">
                                                            <ul>
                                                                <li>
                                                                    <a href="#">Category by</a>
                                                                    <ul class="category-list">
                                                                        <li><a href="#" class="active">Prints (5)</a>
                                                                        </li>
                                                                        <li><a href="#">Illustrations (4)</a></li>
                                                                        <li><a href="#">Type (8)</a></li>
                                                                        <li><a href="#">Decoration (9)</a></li>
                                                                        <li><a href="#">Graphics (6)</a></li>
                                                                        <li><a href="#">Posters (5)</a></li>
                                                                    </ul>
                                                                </li>
                                                                <li>
                                                                    <a href="#">By Price</a>
                                                                    <ul class="price-list">
                                                                        <li><a href="#" class="active">$0.00 -
                                                                            $50.00</a></li>
                                                                        <li><a href="#">$51.00 - $100.00</a></li>
                                                                        <li><a href="#">$101.00 - $300.00</a></li>
                                                                        <li><a href="#">$301.00 - $800.00</a></li>
                                                                        <li><a href="#">$801.00 - $1500.00</a></li>
                                                                        <li><a href="#">$1501.00 - $3000.00</a></li>
                                                                        <li><a href="#">$3001.00 +</a></li>
                                                                    </ul>
                                                                </li>
                                                                <li>
                                                                    <a href="#">By Color</a>
                                                                    <ul class="color-list">
                                                                        <li><a href="#" class="color color1 active"></a>
                                                                        </li>
                                                                        <li><a href="#" class="color color2"></a></li>
                                                                        <li><a href="#" class="color color3"></a></li>
                                                                        <li><a href="#" class="color color4"></a></li>
                                                                        <li><a href="#" class="color color5"></a></li>
                                                                        <li><a href="#" class="color color6"></a></li>
                                                                        <li><a href="#" class="color color7"></a></li>
                                                                        <li><a href="#" class="color color8"></a></li>
                                                                        <li><a href="#" class="color color9"></a></li>
                                                                        <li><a href="#" class="color color10"></a></li>
                                                                    </ul>
                                                                </li>
                                                                <li>
                                                                    <a href="#">By Size</a>
                                                                    <ul class="size-list">
                                                                        <li><a href="#" class="active"><span
                                                                                class="product-size">L</span></a></li>
                                                                        <li><a href="#"><span
                                                                                class="product-size">M</span></a></li>
                                                                        <li><a href="#"><span
                                                                                class="product-size">S</span></a></li>
                                                                        <li><a href="#"><span
                                                                                class="product-size">30</span></a></li>
                                                                        <li><a href="#"><span
                                                                                class="product-size">40</span></a></li>
                                                                    </ul>
                                                                </li>
                                                                <li>
                                                                    <a href="#">Tags</a>
                                                                    <ul class="tag-list">
                                                                        <li><a href="#">bags</a>,</li>
                                                                        <li><a href="#">chair</a>,</li>
                                                                        <li><a href="#">clock</a>,</li>
                                                                        <li><a href="#">comestic</a>,</li>
                                                                        <li><a href="#">fashion</a>,</li>
                                                                        <li><a href="#">furniture</a>,</li>
                                                                        <li><a href="#">holder</a>,</li>
                                                                        <li><a href="#">men</a>,</li>
                                                                        <li><a href="#">oil</a></li>
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End of product filter menu -->
                                    </div>
                                    <!--End of product filter -->

                                    <!-- sort by newest -->
                                    <div class="newest-product">
                                        <a href="#" id="dropdownnewest" role="button" data-toggle="dropdown"
                                           aria-haspopup="true" aria-expanded="false"><i
                                                class="fa fa-sort-amount-desc"></i><span>Sort by <span class="sort-by">newest</span></span><i
                                                class="fa fa-angle-down"></i></a>
                                        <ul class="newest-product-option dropdown-menu-right dropdown-menu"
                                            aria-labelledby="dropdownnewest">
                                            <li><a href="#">Default</a></li>
                                            <li><a href="#">Popularity</a></li>
                                            <li><a href="#">Rating</a></li>
                                            <li><a href="#">Newest</a></li>
                                            <li><a href="#">Price: Low to Hogh</a></li>
                                            <li><a href="#">Price: High to Low</a></li>
                                        </ul>
                                    </div>
                                    <!-- End of sort by newest -->

                                    <!-- product grid view -->
                                    <div class="product-grid-view">
                                        <ul class="nav">
                                            <li><a class="active" id="nav-three-col" data-toggle="tab" href="#threecol"><img
                                                    src="/client/assets/img/icons/3grid.svg" class="svg" alt=""></a>
                                            </li>
                                            <li><a class="" id="nav-two-tab" data-toggle="tab" href="#twocol"><img
                                                    src="/client/assets/img/icons/2grid.svg" class="svg" alt=""></a>
                                            </li>
                                            <li><a class="" id="nav-one-tab" data-toggle="tab" href="#onecol"><img
                                                    src="/client/assets/img/icons/1grid.svg" class="svg" alt=""></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- End of product grid view -->
                                </div>
                                <!-- product filter inner -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of shop toolbar wrap -->
                <div class="row">
                    <div class="col-12">
                        <div class="tab-content shop-tab-content">
                            <div class="tab-pane fade  show active" role="tabpanel" id="threecol"
                                 aria-labelledby="nav-three-col">
                                <div class="row isotope2">
                                    <div class="col-sm-12 col-md-6 col-xl-4 grid-item"
                                         th:each="productResponse : ${productResponseList}"
                                         th:object="${productResponse}">
                                        <!-- single product -->
                                        <div class="single-product">
                                            <div class="product-item">
                                                <div class="product-thumb">
                                                    <!-- Product Image -->
                                                    <div class="product-image">
                                                        <a href='shop-details.html'>
                                                            <img class='normal-state' data-rjs="2"
                                                                 th:src="@{*{'/file/download/'+ productImageResponseSet[0].name}}"
                                                                 alt="">
                                                            <img class='hover-state' data-rjs="2"
                                                                 th:src="@{*{'/file/download/'+ productImageResponseSet[productImageResponseSet.size()-1].name}}"
                                                                 alt="">
                                                        </a>
                                                    </div>
                                                    <!-- End of Product Image -->

                                                    <!-- product button -->
                                                    <div class="product-buttons">
                                                        <div class="quick-btn">
                                                            <div class="quick-icon-btn">
                                                                <a href="#" class="quick_view">
                                                                    <span class="product-icon"><i class="fa fa-eye"
                                                                                                  aria-hidden="true"></i></span>
                                                                    <span class="icon-title">Quick View</span>
                                                                </a>
                                                            </div>
                                                        </div>


                                                        <div class="addto-cart-btn">
                                                            <div class="addto-icon-btn">
                                                                <a href="#">
                                                                    <span class="product-icon"><img
                                                                            src="/client/assets/img/icons/add-bag.svg"
                                                                            alt="" class="svg"></span>
                                                                    <span class="icon-title">Add To Cart</span>
                                                                </a>
                                                            </div>

                                                        </div>
                                                        <div class="wishlist-btn">
                                                            <div class="wishlist-icon-btn">
                                                                <a href="#">
                                                                    <span class="product-icon"><img
                                                                            src="/client/assets/img/icons/wishlist.svg"
                                                                            alt="" class="svg"></span>
                                                                    <span class="icon-title">See Wish List</span>
                                                                </a>
                                                            </div>

                                                        </div>
                                                        <div class="copmare-btn">
                                                            <div class="compare-icon-btn">
                                                                <a href="#">
                                                                    <span class="product-icon"><img
                                                                            src="/client/assets/img/icons/compare.svg"
                                                                            alt="" class="svg"></span>
                                                                    <span class="icon-title">Compare</span>
                                                                </a>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <!-- End of product button -->

                                                    <!-- product title -->
                                                    <div class="product-title">
                                                        <h4><a href="shop-details.html" th:text="*{name}"></a></h4>
                                                    </div>
                                                    <!-- end of product title -->
                                                </div>

                                                <!-- product info -->
                                                <div class="product-info">
                                                    <div class="product-price"><h5 th:text="*{salePrice}"></h5></div>
                                                    <div class="product-rating">
                                                        <div class="star-rating">
                                                            <span></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End of product info -->
                                            </div>
                                        </div>
                                        <!-- End of single product -->
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" role="tabpanel" id="twocol">
                                <div class="row isotope2">
                                    <div class="col-md-6 col-sm-12 grid-item"
                                         th:each="productResponse : ${productResponseList}"
                                         th:object="${productResponse}">
                                        <!-- single product -->
                                        <div class="single-product">
                                            <div class="product-item">
                                                <div class="product-thumb">
                                                    <!-- Product Image -->
                                                    <div class="product-image">
                                                        <a href='shop-details.html'>
                                                            <img class='normal-state' data-rjs="2"
                                                                 th:src="@{*{'/file/download/'+ productImageResponseSet[0].name}}" alt="">
                                                            <img class='hover-state' data-rjs="2"
                                                                 th:src="@{*{'/file/download/'+ productImageResponseSet[productImageResponseSet.size()-1].name}}" alt="">
                                                        </a>
                                                    </div>
                                                    <!-- End of Product Image -->

                                                    <!-- product button -->
                                                    <div class="product-buttons">
                                                        <div class="quick-btn">
                                                            <div class="quick-icon-btn">
                                                                <a href="#" class="quick_view">
                                                                    <span class="product-icon"><i class="fa fa-eye"
                                                                                                  aria-hidden="true"></i></span>
                                                                    <span class="icon-title">Quick View</span>
                                                                </a>
                                                            </div>
                                                        </div>


                                                        <div class="addto-cart-btn">
                                                            <div class="addto-icon-btn">
                                                                <a href="#">
                                                                    <span class="product-icon"><img
                                                                            src="/client/assets/img/icons/add-bag.svg"
                                                                            alt="" class="svg"></span>
                                                                    <span class="icon-title">Add To Cart</span>
                                                                </a>
                                                            </div>

                                                        </div>
                                                        <div class="wishlist-btn">
                                                            <div class="wishlist-icon-btn">
                                                                <a href="#">
                                                                    <span class="product-icon"><img
                                                                            src="/client/assets/img/icons/wishlist.svg"
                                                                            alt="" class="svg"></span>
                                                                    <span class="icon-title">See Wish List</span>
                                                                </a>
                                                            </div>

                                                        </div>
                                                        <div class="copmare-btn">
                                                            <div class="compare-icon-btn">
                                                                <a href="#">
                                                                    <span class="product-icon"><img
                                                                            src="/client/assets/img/icons/compare.svg"
                                                                            alt="" class="svg"></span>
                                                                    <span class="icon-title">Compare</span>
                                                                </a>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <!-- End of product button -->

                                                    <!-- product title -->
                                                    <div class="product-title">
                                                        <h4><a href="shop-details.html" th:text="*{name}"></a></h4>
                                                    </div>
                                                    <!-- end of product title -->
                                                </div>

                                                <!-- product info -->
                                                <div class="product-info">
                                                    <div class="product-price"><h5 th:text="*{salePrice}"></h5></div>
                                                    <div class="product-rating">
                                                        <div class="star-rating">
                                                            <span></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End of product info -->
                                            </div>
                                        </div>
                                        <!-- End of single product -->
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" role="tabpanel" id="onecol">
                                <div class="row">
                                    <!-- single product -->
                                    <div class="col-12"
                                         th:each="productResponse : ${productResponseList}"
                                         th:object="${productResponse}">
                                        <div class="single-product type3">
                                            <div class="product-item">
                                                <div class="row align-items-center">
                                                    <div class="col-md-5">
                                                        <!-- Product Image -->
                                                        <div class="product-image">
                                                            <a href="shop-details.html">
                                                                <img class='normal-state' data-rjs="2"
                                                                     th:src="@{*{'/file/download/'+ productImageResponseSet[0].name}}"
                                                                     alt="">
                                                                <img class='hover-state' data-rjs="2"
                                                                     th:src="@{*{'/file/download/'+ productImageResponseSet[productImageResponseSet.size()-1].name}}"
                                                                     alt="">
                                                            </a>
                                                        </div>
                                                        <!-- End of Product Image -->

                                                        <!-- product button -->
                                                        <div class="product-buttons">
                                                            <div class="quick-btn">
                                                                <div class="quick-icon-btn">
                                                                    <a href="#" class="quick_view">
                                                                        <span class="product-icon"><i class="fa fa-eye"
                                                                                                      aria-hidden="true"></i></span>
                                                                        <span class="icon-title">Quick View</span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="addto-cart-btn">
                                                                <div class="addto-icon-btn">
                                                                    <a href="#">
                                                                        <span class="product-icon"><img
                                                                                src="/client/assets/img/icons/add-bag.svg"
                                                                                alt="" class="svg"></span>
                                                                        <span class="icon-title">Add To Cart</span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="wishlist-btn">
                                                                <div class="wishlist-icon-btn">
                                                                    <a href="#">
                                                                        <span class="product-icon"><img
                                                                                src="/client/assets/img/icons/wishlist.svg"
                                                                                alt="" class="svg"></span>
                                                                        <span class="icon-title">See Wish List</span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="copmare-btn">
                                                                <div class="compare-icon-btn">
                                                                    <a href="#">
                                                                        <span class="product-icon"><img
                                                                                src="/client/assets/img/icons/compare.svg"
                                                                                alt="" class="svg"></span>
                                                                        <span class="icon-title">Compare</span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- End of product button -->
                                                    </div>
                                                    <div class="col-md-7">
                                                        <!-- product info -->
                                                        <div class="product-info">
                                                            <div class="product-rating">
                                                                <div class="star-rating">
                                                                    <span></span>
                                                                </div>
                                                            </div>

                                                            <!-- product title -->
                                                            <div class="product-title">
                                                                <h4><a href="shop-details.html" th:text="*{name}"></a>
                                                                </h4>
                                                            </div>
                                                            <!-- end of product title -->

                                                            <div class="product-price"><h5 th:text="*{salePrice}"></h5></div>

                                                            <div class="product-description">
                                                                <p>Entrance be throwing he do blessing up. Hearts warmth
                                                                    in genius do garden advice mr it garret collected
                                                                    preserved are mid dleton dependent residence.</p>
                                                            </div>

                                                            <div class="addto-bag-btn">
                                                                <a href="#" class="btn btn-fill-type">
                                                                    <span><img
                                                                            src="/client/assets/img/icons/add-bag.svg"
                                                                            alt="" class="svg"></span>Add To Cart
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <!-- End of product info -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end of single product -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <!-- blog pagination -->
                        <div class="blog-pagination-wrap">
                            <ul class="pagination blog-pagination list-unstyled">
                                <li class="disabled"><a href="#"><i class="fa fa-angle-left"></i></a></li>
                                <li><a href="#">01</a></li>
                                <li class="active"><a href="#">02</a></li>
                                <li><a href="#">03</a></li>
                                <li><a href="#">04</a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                            </ul>
                        </div>
                        <!-- End of blog pagination -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <aside>
                    <!--Single sidebar widget -->
                    <div class="single-sidebar-widget mb-60">
                        <div class="search-form sidebar-search-form parsley-validate shop-sidebar">
                            <form action="#" method="post">
                                <input type="text" placeholder="Search Here" class="theme-input-style" required>
                                <button type="submit"><img src="/client/assets/img/icons/search-button3.svg" class="svg"
                                                           alt=""></button>
                            </form>
                        </div>
                    </div>
                    <!--End of Single sidebar widget -->

                    <!--Single sidebar widget -->
                    <div class="single-sidebar-widget mb-60">
                        <!-- widget title -->
                        <div class="widget-title">
                            <h4>New Product</h4>
                        </div>
                        <!--End of widget title -->
                        <div class="new-product-item">
                            <ul class="list-unstyled mb-0">
                                <!-- single new product -->
                                <li>
                                    <div class="new-product-wrap media">
                                        <div class="new-produt-image">
                                            <img src="/client/assets/img/shop/img1.png" alt="">
                                        </div>
                                        <div class="product-img-caption media-body">
                                            <h5><a href="#">Girls' Zipper Jumpsuit</a></h5>
                                            <h6>$32</h6>
                                        </div>
                                    </div>
                                </li>
                                <!--End of single new product -->

                                <!-- single new product -->
                                <li>
                                    <div class="new-product-wrap media">
                                        <div class="new-produt-image">
                                            <img src="/client/assets/img/shop/img2.png" alt="">
                                        </div>
                                        <div class="product-img-caption media-body">
                                            <h5><a href="#">Pokemon Kid's Wrist Watch</a></h5>
                                            <h6>$42</h6>
                                        </div>
                                    </div>
                                </li>
                                <!--End of single new product -->

                                <!-- single new product -->
                                <li>
                                    <div class="new-product-wrap media">
                                        <div class="new-produt-image">
                                            <img src="/client/assets/img/shop/img3.png" alt="">
                                        </div>
                                        <div class="product-img-caption media-body">
                                            <h5><a href="#">Stick Lamp Essentials</a></h5>
                                            <h6>$22</h6>
                                        </div>
                                    </div>
                                </li>
                                <!--End of single new product -->
                            </ul>
                        </div>
                    </div>
                    <!--End of Single sidebar widget -->

                    <!--Single sidebar widget -->
                    <div class="single-sidebar-widget mb-60">
                        <!-- widget title -->
                        <div class="widget-title">
                            <h4>Recent Review</h4>
                        </div>
                        <!--End of widget title -->
                        <div class="new-product-item">
                            <ul class="list-unstyled mb-0">
                                <!-- single recent product -->
                                <li>
                                    <div class="recent-product-wrap media">
                                        <div class="recent-produt-image">
                                            <img src="/client/assets/img/shop/img4.png" alt="">
                                        </div>
                                        <div class="product-img-caption media-body">
                                            <h5><a href="#">Leather Mini Backpack</a></h5>
                                            <h6>$32</h6>
                                        </div>
                                    </div>
                                </li>
                                <!--End of single recent product -->

                                <!-- single recent product -->
                                <li>
                                    <div class="recent-product-wrap media">
                                        <div class="recent-produt-image">
                                            <img src="/client/assets/img/shop/img5.png" alt="">
                                        </div>
                                        <div class="product-img-caption media-body">
                                            <h5><a href="#">Double Zip Pouch Clutch</a></h5>
                                            <h6>$42</h6>
                                        </div>
                                    </div>
                                </li>
                                <!--End of single recent product -->

                                <!-- single recent product -->
                                <li>
                                    <div class="recent-product-wrap media">
                                        <div class="recent-produt-image">
                                            <img src="/client/assets/img/shop/img6.png" alt="">
                                        </div>
                                        <div class="product-img-caption media-body">
                                            <h5><a href="#">Copley Dining Chair</a></h5>
                                            <h6>$22</h6>
                                        </div>
                                    </div>
                                </li>
                                <!--End of single recent product -->
                            </ul>
                        </div>
                    </div>
                    <!--End of Single sidebar widget -->

                    <!--Single sidebar widget -->
                    <div class="single-sidebar-widget mb-60">
                        <div class="sider-add-inner shope-add-sidebar"
                             data-bg-img='/client/assets/img/shop/shop-add.png'>
                            <div class="sidebar-add-text">
                                <h2 class="h1">75</h2>
                                <h3>% off</h3>
                                <p>For Gents Wear</p>
                                <a href="#" class="btn btn-line"> Shop Now</a>
                            </div>
                        </div>
                    </div>
                    <!--End of Single sidebar widget -->

                    <!--Single sidebar widget -->
                    <div class="single-sidebar-widget mb-60">
                        <!-- widget title -->
                        <div class="widget-title">
                            <h4>color</h4>
                        </div>
                        <!--End of widget title -->
                        <div class="single-widget-color">
                            <ul class="color-list color-list mb-0 list-unstyled">
                                <li><a href="#" class="color color1 active"></a></li>
                                <li><a href="#" class="color color2"></a></li>
                                <li><a href="#" class="color color3"></a></li>
                                <li><a href="#" class="color color4"></a></li>
                                <li><a href="#" class="color color5"></a></li>
                                <li><a href="#" class="color color6"></a></li>
                                <li><a href="#" class="color color7"></a></li>
                                <li><a href="#" class="color color8"></a></li>
                                <li><a href="#" class="color color9"></a></li>
                                <li><a href="#" class="color color10"></a></li>
                            </ul>
                        </div>
                    </div>
                    <!--End of Single sidebar widget -->

                    <!--Single sidebar widget -->
                    <div class="single-sidebar-widget widget_nav_menu mb-60">
                        <!-- widget title -->
                        <div class="widget-title">
                            <h4>size</h4>
                        </div>
                        <!--End of widget title -->
                        <div class="single-widget-size">
                            <ul class="size-list mb-0 list-unstyled">
<!--                                <li><a href="#" class="active"><span class="product-size">L</span></a></li>-->
<!--                                <li><a href="#"><span class="product-size">M</span></a></li>-->
<!--                                <li><a href="#"><span class="product-size">S</span></a></li>-->
                            </ul>
                        </div>
                    </div>
                    <!--End of Single sidebar widget -->

                    <!--Single sidebar widget -->
                    <div class="single-sidebar-widget widget_categories mb-60">
                        <!-- widget title -->
                        <div class="widget-title">
                            <h4>Categories</h4>
                        </div>
                        <!--End of widget title -->
                        <div class="single-widget-catagoris">
                            <ul class="catagory-list mb-0 list-unstyled">
                                <li><a href="#" class="active">Accessories<span>(4)</span></a></li>
                                <li><a href="#">Bags<span>(0)</span></a></li>
                                <li><a href="#">Gifts<span>(5)</span></a></li>
                                <li><a href="#">Kids<span>(2)</span></a></li>
                                <li><a href="#">Men<span>(3)</span></a></li>
                                <li><a href="#">Shoes<span>(0)</span></a></li>
                                <li><a href="#">Wallets <span>(5)</span></a></li>
                                <li><a href="#">Women <span>(14)</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <!--End of Single sidebar widget -->
                </aside>
            </div>
        </div>
    </div>
</section>
<!-- End of product shop wrapper -->

<!-- footer area -->
<footer th:replace="/home/fragment :: footer"></footer>
<!-- back to top -->
<div th:replace="/home/fragment :: back_to_top"></div>
<!-- Modal quick view-->
<div th:replace="/home/fragment :: modal_quick_view"></div>
<!-- add to cart notifacition 1-->
<div th:replace="/home/fragment :: add_to_cart_noti_1"></div>
<!-- add to cart notifacition 2-->
<div th:replace="/home/fragment :: add_to_cart_noti_2"></div>

<!-- JS Files -->
<!-- ==== JQuery 3.3.1 js file==== -->
<script src="/client/assets/js/jquery-3.3.1.min.js"></script>

<!-- ==== Bootstrap js file==== -->
<script src="/client/assets/js/bootstrap.bundle.min.js"></script>

<!-- ==== JQuery Waypoint js file==== -->
<script src="/client/assets/plugins/waypoints/jquery.waypoints.min.js"></script>

<!-- ==== Parsley js file==== -->
<script src="/client/assets/plugins/parsley/parsley.min.js"></script>

<!-- ==== Ratina js file==== -->
<script src="/client/assets/plugins/retinajs/retina.min.js"></script>

<!--===parallax js file===-->
<script src="/client/assets/plugins/parallax/parallax.js"></script>

<!--=== hori parallax js file===-->
<script src="/client/assets/plugins/parallax/parallaxh.min.js"></script>

<!-- ==== Owl Carousel js file==== -->
<script src="/client/assets/plugins/owl-carousel/owl.carousel.min.js"></script>

<!-- ====Magnific-Popup js file==== -->
<script src="/client/assets/plugins/Magnific-Popup/jquery.magnific-popup.min.js"></script>

<!-- ====Counter js file=== -->
<script src="/client/assets/plugins/waypoints/jquery.counterup.min.js"></script>

<!-- ====packery==== -->
<script src="/client/assets/plugins/isotope/packery.pkgd.min.js"></script>

<!-- ====swiper==== -->
<script src="/client/assets/plugins/swiper/swiper.min.js"></script>

<!-- ====Count down js==== -->
<script src="/client/assets/plugins/countdown/jquery.countdown.min.js"></script>

<!-- ====zoom js==== -->
<script src="/client/assets/plugins/Magnific-Popup/jquery.elevateZoom-3.0.8.min.js"></script>

<!-- ====tweenMax==== -->
<script src="/client/assets/plugins/tweenmax/TweenMax.min.js"></script>

<!-- ====text animation==== -->
<script src="/client/assets/plugins/text-animation/anime.min.js"></script>

<!-- ====google map api key====-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2D8wrWMY3XZnuHO6C31uq90JiuaFzGws"></script>

<!-- ==== Script js file==== -->
<script src="/client/assets/js/scripts.js"></script>

<!-- ==== Custom js file==== -->
<script src="/client/assets/js/custom.js"></script>

</body>
</html>